.search_Str {
  display: flex;
  align-items: center;
  font-weight: bold;
}

.data_price_date {
  min-width: 100px;
}

.data_two_col {
  min-width: 150px;
}

.data_number {
  text-align: right;
}

.data_table {
  th {
    font-weight: 700 !important;
    font-size: 18px;
  }
}

.operateShow {
  margin: 0px 16px 0px 16px;
  color: #D9D9D9;
}
